:root {
    --bg-color: #000f0e;
    --text-color: #e8e8e8;
    --primary-color: #00707a;
    --secondary-color: #006eff;
    --accent-color: #0081bd;
}

body {
    background-color: var(--bg-color);
}

.text-custom {
    color: var(--text-color);
}

.text-custom-primary {
    color: var(--primary-color);
}

.text-custom-secondary {
    color: var(--secondary-color);
}

.text-custom-accent {
    color: var(--accent-color);
}

.border-custom-primary {
    border-color: var(--primary-color);
}

.border-custom-secondary {
    border-color: var(--secondary-color);
}

.border-custom-accent {
    border-color: var(--accent-color);
}