
:root {
    --bg-color: #f9fcfd;
    --text-color: #0d181c;
    --primary-color: #2aa5d7;
    --secondary-color: #7fd2f3;
    --accent-color: #42c8fd;
}

ul {
    list-style-type: disc;
}

body {
    /* background-color: var(--bg-color); */
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(184,215,255,1) 100%);
    background-attachment: fixed;
}

.text-custom {
    color: var(--text-color);
}

.text-custom-primary {
    color: var(--primary-color);
}

.text-custom-secondary {
    color: var(--secondary-color);
}

.text-custom-accent {
    color: var(--accent-color);
}

.border-custom-primary {
    border-color: var(--primary-color);
}

.border-custom-secondary {
    border-color: var(--secondary-color);
}

.border-custom-accent {
    border-color: var(--accent-color);
}